<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelling Website
    </title>
    <script src="/JS/script.js" defer></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/home-responsive.css">
</head>

<body>
    <div class="box">
        <div class="bar"></div>
        <header>
            <nav>

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="search">
                    <input type="text" name="" id="" placeholder="Search Here">
                    <button class="btn">Search</button>
                    <% if(clientName !='' ) { %>
                        <p class="dynamic">
                            <%=`Welcome ${clientName} !` %>
                        </p>
                        <% } %>
                            <a href="#" class="logout">Log out</a>
                            <a href="#" class="register">Sign up</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="maincontainer">
                <div class="main">
                    <div class="slidercontainer">
                        <div class="slider ">
                            <img id="lastclone" src="/img/img5.jpg" alt="" width="1100px" height="500px">
                            <img src="img/img1.jpg" alt="" width="1100px" height="500px">
                            <img src="img/img2.jpg" alt="" width="1100px" height="500px">
                            <img src="img/img3.jpg" alt="" width="1100px" height="500px">
                            <img src="img/img4.jpg" alt="" width="1100px" height="500px">
                            <img src="img/img5.jpg" alt="" width="1100px" height="500px">
                            <img id="firstclone" src="img/img1.jpg" alt="" width="1100px" height="500px">

                        </div>
                    </div>
                </div>
                <button>
                    < </button>
                        <button> > </button>


                        <div class="card">
                            <h2 class="my-2">Explore the World !</h2>
                            <div class="cards">
                                <div class="card-item">
                                    <img src="img/khalifa.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1"> Burj Khalifa</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Vegas.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Las Vegas</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Dead.webp" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Dead sea</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Palm.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Palm Island</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Taj.webp" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Taj mahal</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Niagara.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Niagara</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Eiffel.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Eiffel Tower</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Qutub.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Qutub Minar</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h2 class="my-2">Seven Wonders of the World</h2>
                            <div class="cards">
                                <div class="card-item">
                                    <img src="img/Taj.webp" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Taj Mahal</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Machu.webp" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Machu Pichu</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Wall.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Great Wall of China</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Roman.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Roman colossuem</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Itza.webp" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Chichen Itza</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Petra.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Petra</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Statue.webp" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Statue of liberty</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Ram.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Ram setu</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h2 class="my-2">Great Hikes Around the World</h2>
                            <div class="cards">
                                <div class="card-item">
                                    <img src="img/Penine.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Penine Way</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Devkund.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Devkund</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Toubkal.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Mount Toubkal</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Annapurna.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Annapurna</p>

                                    </div>
                                </div>

                                <div class="card-item">
                                    <img src="img/Kilimanjaro.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Kilimanjaro</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Kalalau.avif" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Kalalau</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Samaria.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Samaria Gorge</p>

                                    </div>
                                </div>
                                <div class="card-item">
                                    <img src="img/Peru.jpg" alt="" width="200px" height="300px">
                                    <div class="lines">
                                        <p class="text-center my-1">Inca Trail</p>

                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </main>
        <footer class="flex-all-center">
            <p>Copyright &copy; ridd.com </p>
        </footer>
</body>

</html>