@media only screen and (max-width:1000px) {



    .form {
        position: fixed;
        left: 120px;
        top: 10vw;
        width: 70vw;
        height: 50vh;
    }

    .form h2 {
        font-size: 3em;
        width: 400px;
    }

    .all_inputs {
        margin-top: 25vw;
    }

    form {
        padding-top: 80px;
        width: 87%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 60%;
        top: 50px;
    }

    .form input {
        width: 60vw;
        height: 100px;
        font-size: 2.5em;
        margin-top: 35px;
    }

    .form .link {
        left: 20vw;
        font-size: 2.5em;
        top: 85vw;
    }

    .form .btnn {
        width: 45vw;
        height: 6vw;
        font-size: 3em;
        position: relative;
        top: 25px;
        transition: none;

    }

    .icons {
        display: none;
        top: 80vw;
    }




}

@media only screen and (max-height:1200px) {
    .form .link {
        top: 64vw
    }

    .form .changepassword a {
        top: 60vw;
    }

    .form input {
        height: 80px;
    }

    .btnn {
        transition: none;
    }

    form {
        height: 65%;
    }
}